article{
    margin:0 auto;
    padding:0;
    max-width:1090px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.article-description{
    display:none;
}

section{
    flex-basis:780px;
    border-radius:3px;
    margin:0 45px;
    margin-top:40px;
    background-color:white;
    box-shadow: 0 1px 2px 0px rgba(0,0,0,0.2);   
}

section:last-child{
    margin-bottom:95px;
}

.user{
    height:40px;
    margin-left:30px;
    margin-top:25px;
    margin-bottom:19px; 
}


.daniel{
    background:url("icons/Daniel.png");
}

.jennifier{
    background:url("icons/Jennifier.png")
}

.avatar{
    display:inline-block;
    width: 40px;
    height: 40px; 
    border-radius:50%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size:150%;
    margin-top:4px;
}


.user-info{
    display:inline-block;
    margin-left:13px;
    vertical-align:top;
}

.name{
    margin:0;
    color:#4d4d4d;
    font-size:12pt;
}

.time{
    margin:0;
    color:gray;
    font-size:11pt;
    margin-top:3px;
}

figure{
    margin:0;
    width:100%;
    max-width:780px;
    max-height:400px;
    overflow:hidden;
}

figure img{
    width:100%;
}

.more{
    margin-left:30px;
}

.more h2{
    font-size: 27pt;
    font-weight:600;
    margin-top:20px;
    margin-bottom:5px;
}

.more p{
    font-size:15pt;
    margin-top:10px;
    margin-bottom:0;
    font-family: 'Helvetica';
    line-height:31px;
    letter-spacing: -1px;
    width:90%;
}

.more-button{
    display:inline-block;
    width: 112px;
    height: 28px;
    padding-top:8px;
    background-color: #2196F3;
    color:white;
    text-transform:uppercase;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0px rgba(0,0,0,0.4);
    text-decoration:none;
    text-align: center;
    margin-top: 34px;
    margin-left:30px;
    margin-bottom:50px;
    font-size:11pt;
}

.more-button:active{
    background-color:#067ad7;
}

@media screen and (max-width: 768px) {

    section{
        margin-right:25px;
        flex-basis:680px;
        }
}

@media screen and (max-width: 500px){

    section{
        margin: 0 10px;
        margin-top:10px;
    }

    section:last-child{
        margin-bottom:10px;
    }

    section h2{
        width:90%; 
    }

    .more h2{
        margin-top:15px;
    }
}