footer{
    background-color:white;
    max-width: 1200px;
    height:90px;
    margin:0 auto;
    padding:0;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:#999;
    font-size:11pt;
}

footer::before{
    position:absolute;
    z-index:-1000;
    width: 100%;
    height: 90px;
    background-color:white;
    content:"";
    left:0;
}

footer nav ul{
    margin:0;
    padding:0;
    border:none;
}
footer nav ul li{
    display:inline-block;
    margin-right:25px;
}

footer nav ul li a{
    text-decoration: none;
    color:#999;
    font-size:11pt;
}

footer nav ul li:last-child{
    margin-right:0;
}

footer p{
    margin-right:20px;
}



@media screen and (max-width: 500px){


    footer{
        height:33px;
    }

    footer nav{
        display:none;
    }

    footer p{
        margin:0 auto;
        margin-top:33px;
    }
}