body{
    margin:0;
    padding:0;   
    background-color:#F3F3F3;
    font-family: 'Roboto', sans-serif;
}

header{
    max-width:1210px;
    width:100%;
    height:90px;
    background-color:black;
    padding:0;
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin:0 auto;
    color:#818181;
}

header::before{
    position:absolute;
    width:100%;
    background-color:black;
    height:90px;
    content:"";
    top:0;
    left:0;
    z-index: -1000;
}

.logo{
    margin:0;
    margin-right:4%;
}

#menu-toggle {
    display: none;
}

.label-toggle {
    display: none;
}

.header-menu{
    flex-basis:540px;
    align-self:flex-end;
    display:flex;
    justify-content:space-between;
    margin-right:auto;
}


header nav a, details{
    text-decoration:none;
    color:white;
    height:44px;
    flex-basis:120px;
    text-align:center;
    padding-top:15px;
    font-size:10.5pt;
    letter-spacing: 0.5px;
}

header nav >a{
    border-bottom:4px solid black;
}

.active, header nav > a:hover, details:hover{
    border-bottom:4px solid white;
}

summary{
    outline:none;
    position:relative;
}

summary::-webkit-details-marker{
    display:none;
}

details[open] summary::-webkit-details-marker{
    position:absolute;
    display:block;
    right:0;
    top:5px;
    margin-left:0;
    transform:rotate(180deg);

}

details[open]{
    position:relative;
    margin-bottom:-202px;
    background-color:white;
    border-radius: 2px;
    height:160px;
    z-index: 200;
    box-shadow: 0 1px 2px 0px rgba(0,0,0,0.2);
    color:#737373;
    flex-basis:140px;
}

details[open]:hover{
    border:none;
}

.header-sub-menu{
    padding-left:0;
    margin-top:33px;
}

.header-sub-menu li{
    margin:0;
    list-style:none;
}

.header-sub-menu li a{
    color:#444;
    margin:0;
    padding:0;
    font-weight:500;
    width:115px;
    display:inline-block;
    height:30px;
    padding-top:4px;
    text-align:left;
    padding-left:25px;
}

.header-sub-menu li a:hover{
    background-color:#eee;  
}

.header-sub-menu li a:hover{
    color:#4b4b4b;
}

.auth{
    margin-right:4%;
    margin-top:10px;
    color:white;
    text-decoration:none;
    font-size:11pt;
    white-space: nowrap;
}

.search{
    margin-top:13px;
    margin-right:2%;
    width:20px;
    height:20px;
    position:relative;
    background: url("icons/sprite.png");
    background-position: -20px 0;
    background-repeat:no-repeat;
}

input:focus{
    outline:none;
}

input[type="search"]{
    position:absolute;
    display:none;
    right:0;
    top:-5px;
    border:none;
    color:#999;
    width:250px;
    height:30px;
    padding-left:25px;
    background:black url("icons/sprite.png");
    background-position: -20px 5px;
    background-repeat:no-repeat; 
}

.search:active input[type="search"],
input[type="search"]:hover,
input[type="search"]:focus{
display:block;
}

@media screen and (max-width: 768px) {
    header{
        max-width:725px;
    }

    .auth{
        white-space: normal;
    }

    .logo{
        margin-left:3.5%;
        margin-right:8%;
    }
    .header-menu{
        flex-basis: 360px;
    }

    .header-menu a{
        flex-basis:auto;
    }

    .header-menu > a:first-child{
        display:none;
    }
}

@media screen and (max-width: 500px){

    .label-toggle{
        display:flex;
        margin-top:2px;
        margin-left:15px;
        margin-right:32px;
        content:"";
        width:30px;
        height:27px;
        background-image: url("icons/sprite.png");
        background-position:0 -30px;
        background-repeat: no-repeat;
        order:5;
    }

    .header-menu, .auth{
        display:none;
    }

    .search{
        margin-top:0;
        margin-right:6%;
        width: 25px;
        height: 25px;
        margin-left:auto;
        background-position: -38px -30px;
    }

    #menu-toggle:checked ~ .header-menu{
        display:flex;
    }

    header nav, .auth{
        position:absolute;
        z-index:1000;
    }

    #menu-toggle:checked ~ .auth{
        display:inline-block;
        background-color:black;
        top:80px;
        width:100%;
        height:40px;
        padding-top:23px;
        text-align:center;
    }

    header nav{
        top:153px;
        width:100%;
        background-color:black;
        flex-wrap:wrap;
        height:auto; 
    }

    header nav a:hover, 
    header nav details:hover{
        border:none;
    }

    header nav >a{
        border-bottom:none;
    }


    details[open]{
        position:relative;
        margin:0 auto;
        flex-basis:95%;
        height:auto;
    }

    details[open] a{
        padding:0;
        padding-top:20px;
        height:40px;
        width:100%;
        text-align:center;
        text-transform:uppercase;
    }

    .header-menu a, header nav details{
        flex-basis: 100%;
    }

    .active{
        border:none;
    }

    .header-menu{
        order:6;
    }

    .auth{
        order:7;
    }
}