.nav-buttons{
    height: 95px;
    background-color:#2196f3;
    max-width:1225px;
    width:100%;
    padding:0;
    margin:0 auto;
    display: flex;
    justify-content:space-between;
    align-items:center;
    color:white;
}

.nav-buttons:before{
    
    height: 95px;
    background-color:#2196f3;
    position: absolute;
    width:100%;
    content:"";
    left:0;
    z-index: -1000;
}

.nav-buttons a{
    color:white;
    text-decoration:none;
    font-size:15pt;
    margin:0 7px;
    margin-top:20px;
}

.previous::before{
    margin-left:5px;
    display:inline-block;
    margin-top:5px;
    margin-right:13px;
    content:"";
    width:16px;
    height: 16px;
    background-image: url("icons/sprite.png");
    background-position: 0 -2px;
}

.next::after{
    display:inline-block;
    margin-top:5px;
    margin-left:15px;
    margin-right:25px;
    content:"";
    width:16px;
    height: 16px;
    background-image: url("icons/sprite.png");
    background-position:0 -2px;
    transform: scale(-1,1);
}

@media screen and (max-width: 500px){
    
        .previous::before{
            margin-left:33px;
        }
    
        .next::after{
            margin-right:33px;
        }
    }