main{
    margin:0 auto;
    max-width:1220px;
    width:100%;
}

article{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin:0 20px;
    margin-bottom:110px;
}

article > h2{
    display:none;
}

section{
margin-top:20px;
background-color:white;
position:relative;
flex-basis: 32.2%;
border-radius:3px;
box-shadow: 0 1px 2px 0px rgba(0,0,0,0.2);
overflow:hidden;
padding-bottom:25px;

}

section a{
    text-decoration:none;
    color:black;
}

section h2{
    font-size:18px;
    font-weight:400;
    margin-top: 23px;
    margin-left: 8%;
    margin-bottom:0;
}

section span{
    color: #4d4d4d;
    font-size: 18px;
    font-weight: 400;
    margin-left: 8%;
}

.legenth-of-tomorrow{
    background:url("icons_video/main_video.png");
}

.supergirl{
    background:url("icons_video/supergirl.png");
}

.mad-max{
    background: url("icons_video/mad_max.png");
}

.elephans{
    background: url("icons_video/elephans.png");
}

.maria-carey{
    background: url("icons_video/maria_carey.png");
}

.cleveland{
    background: url("icons_video/cleveland.png");
}

.miss-piggy{
    background: url("icons_video/miss_piggy.png");
}

.legenth-of-tomorrow,
.supergirl,
.mad-max,
.elephans,
.maria-carey,
.cleveland,
.miss-piggy{
    background-position:top center;
} 

figure{
    margin:0;
    height:280px;
}


.playbutton{
    display: none;
    border-radius: 50%;
    background: #0097f6 url(icons/play_button.png);
    background-repeat: no-repeat;
    background-position: 55% 50%;
    position: absolute;
    width: 66px;
    height: 66px;
    right: 24px;
    margin-top: -40px;
    box-shadow: 0 1px 2px 0px rgba(0,0,0,0.2);
}

.playbutton:active{
    background-color:#007bdb;
}

section:first-of-type{
    flex-basis:100%;
    padding-bottom: 44px;
    margin-top:40px;
    margin-bottom:20px;
}

section:first-of-type figure{
    max-width: 1180px;
    width: 100%;
    height: 665px;
}

section:first-of-type .playbutton{
    display:block;
}

section:first-of-type h2{
    font-size: 26pt;
    margin-top: 16px;
    margin-left: 2.5%;
    margin-right: 34%;
    letter-spacing: 1px;
    line-height: 43px;
    margin-bottom:0;
}

section:first-of-type span{
    display:inline-block;
    color: black;
    margin-top: 16px;
    margin-left: 2.5%;
    letter-spacing: 1px;   
}



@media screen and (max-width: 768px) {

    article{
        margin: 0 45px;
        margin-bottom:78px;
    }

    section:nth-last-of-type(1),
    section:nth-last-of-type(2){
        display:none;
    }

    section{
        flex-basis: 49%;
    }

    section:first-of-type figure{
        max-height:490px;
    }


}

@media screen and (max-width: 500px) {

    section:first-of-type{
        margin-top:10px;
        flex-basis:100%;
        padding-bottom: 29px;
        margin-bottom:0;
    }

    section:first-of-type h2{
        margin-right: 0px;
        margin-top: 38px;
        margin-left: 30px;
    }

    section:first-of-type span{
        margin-left:30px;
    }

    section:first-of-type figure{
        max-height:465px;
    }

    article{
        margin: 0 10px;
        margin-bottom: 40px;
    }

    section:nth-last-of-type(1),
    section:nth-last-of-type(2),
    section:nth-last-of-type(3),
    section:nth-last-of-type(4){
        display:none;
    }
    
    section{
        flex-basis:100%;
        margin-bottom:5px;
    }
}